In [1]:
from tp2.archivos import leer_archivo

datos = leer_archivo("../examples/10.txt")
datos

([36, 2, 78, 19, 59, 76, 65, 64, 33, 41],
 [63, 61, 49, 41, 40, 38, 23, 17, 13, 10])

In [16]:
def _ganancia_del_dia(dia_entrenamiento, dia_desde_descanso, ganancia_por_dia, energia_por_dia):
    if dia_entrenamiento == len(ganancia_por_dia):
        return 0

    ganancia = ganancia_por_dia[dia_entrenamiento]
    energia = energia_por_dia[dia_desde_descanso]
    return min(ganancia, energia)
    
def mejor_ganancia_recursivo_con_memoria(ganancia_por_dia, energia_por_dia, dia_a_analizar, dias_desde_descanso, M):
    if dia_a_analizar == len(ganancia_por_dia):
        return 0
    
    ganancia_guardada = M[dia_a_analizar][dias_desde_descanso]

    if ganancia_guardada != None:
        return ganancia_guardada

    ganancia_entrenando_hoy = (_ganancia_del_dia(dia_a_analizar, dias_desde_descanso, ganancia_por_dia, energia_por_dia) 
                        + mejor_ganancia_recursivo_con_memoria(ganancia_por_dia, energia_por_dia, dia_a_analizar + 1, dias_desde_descanso + 1, M))
    ganancia_descansando_hoy = mejor_ganancia_recursivo_con_memoria(ganancia_por_dia, energia_por_dia, dia_a_analizar + 1, 0, M)

    ganancia_guardada = max(ganancia_entrenando_hoy, ganancia_descansando_hoy)

    M[dia_a_analizar][dias_desde_descanso] = ganancia_guardada
    
    return ganancia_guardada

M = [[None for _ in datos[0]] for _ in datos[0]]
mejor_ganancia_recursivo_con_memoria(datos[0], datos[1], 0, 0, M)

380

In [3]:
import pandas as pd
pd.DataFrame(M)

     0      1      2      3      4      5      6     7     8     9
0  380    NaN    NaN    NaN    NaN    NaN    NaN   NaN   NaN   NaN
1  344  344.0    NaN    NaN    NaN    NaN    NaN   NaN   NaN   NaN
2  344  342.0  330.0    NaN    NaN    NaN    NaN   NaN   NaN   NaN
3  281  281.0  281.0  281.0    NaN    NaN    NaN   NaN   NaN   NaN
4  281  257.0  247.0  246.0  246.0    NaN    NaN   NaN   NaN   NaN
5  246  222.0  198.0  198.0  198.0  198.0    NaN   NaN   NaN   NaN
6  198  183.0  161.0  137.0  137.0  137.0  137.0   NaN   NaN   NaN
7  137  135.0  122.0  112.0   96.0   79.0   74.0  74.0   NaN   NaN
8   74   74.0   74.0   73.0   71.0   56.0   41.0  41.0  41.0   NaN
9   41   41.0   41.0   41.0   40.0   38.0   23.0  17.0  13.0  10.0

In [4]:
def mejor_ganancia_dinamico(ganancia_por_dia, energia_por_dia):
    cant_dias = len(ganancia_por_dia)

    M = [[None for _ in range(cant_dias)] for _ in range(cant_dias)]

    for dia_a_analizar in range(cant_dias):
        for dias_desde_descanso in range(dia_a_analizar + 1):
            M[dia_a_analizar][dias_desde_descanso] = _ganancia_del_dia(dia_a_analizar, dias_desde_descanso, ganancia_por_dia, energia_por_dia)
    
    return M

M = mejor_ganancia_dinamico(*datos)
pd.DataFrame(M)

    0     1     2     3     4     5     6     7     8     9
0  36   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   2   2.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  63  61.0  49.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3  19  19.0  19.0  19.0   NaN   NaN   NaN   NaN   NaN   NaN
4  59  59.0  49.0  41.0  40.0   NaN   NaN   NaN   NaN   NaN
5  63  61.0  49.0  41.0  40.0  38.0   NaN   NaN   NaN   NaN
6  63  61.0  49.0  41.0  40.0  38.0  23.0   NaN   NaN   NaN
7  63  61.0  49.0  41.0  40.0  38.0  23.0  17.0   NaN   NaN
8  33  33.0  33.0  33.0  33.0  33.0  23.0  17.0  13.0   NaN
9  41  41.0  41.0  41.0  40.0  38.0  23.0  17.0  13.0  10.0

In [5]:
def mejor_ganancia_dinamico(ganancia_por_dia, energia_por_dia):
    cant_dias = len(ganancia_por_dia)

    M = [[None for _ in range(cant_dias)] for _ in range(cant_dias)]
    G = [[None for _ in range(cant_dias)] for _ in range(cant_dias)]

    for dia_a_analizar in range(cant_dias):
        for dias_desde_descanso in range(dia_a_analizar + 1):
            M[dia_a_analizar][dias_desde_descanso] = _ganancia_del_dia(dia_a_analizar, dias_desde_descanso, ganancia_por_dia, energia_por_dia)

    for dias_desde_descanso in range(cant_dias):
        for dia_a_analizar in range(1, dias_desde_descanso + 1):
            if dias_desde_descanso == 0:
                if dia_a_analizar == 1:
                    G[dia_a_analizar][dias_desde_descanso] = M[dia_a_analizar][dias_desde_descanso]
                else:
                    G[dia_a_analizar][dias_desde_descanso] = M[dia_a_analizar-1][dias_desde_descanso] + M[dia_a_analizar][dias_desde_descanso]
            if dias_desde_descanso == 1:
                G[dia_a_analizar][dias_desde_descanso] = M[dia_a_analizar - 1][dias_desde_descanso - 1] + M[dia_a_analizar][dias_desde_descanso]  
            
    
    return G

M = mejor_ganancia_dinamico(*datos)
pd.DataFrame(M)

      0     1     2     3     4     5     6     7     8     9
0  None   NaN  None  None  None  None  None  None  None  None
1  None  38.0  None  None  None  None  None  None  None  None
2  None   NaN  None  None  None  None  None  None  None  None
3  None   NaN  None  None  None  None  None  None  None  None
4  None   NaN  None  None  None  None  None  None  None  None
5  None   NaN  None  None  None  None  None  None  None  None
6  None   NaN  None  None  None  None  None  None  None  None
7  None   NaN  None  None  None  None  None  None  None  None
8  None   NaN  None  None  None  None  None  None  None  None
9  None   NaN  None  None  None  None  None  None  None  None

In [20]:
def mejor_ganancia_iterativo_con_memoria(ganancia_por_dia, energia_por_dia, dia_a_analizar, dias_desde_descanso, M):
    cant_dias = len(ganancia_por_dia)

    M = [[None for _ in range(cant_dias)] for _ in range(cant_dias)]

    for dia_a_analizar in range(cant_dias):
        for dias_desde_descanso in range(dia_a_analizar + 1):
            ganancia_entrenando_hoy = (_ganancia_del_dia(dia_a_analizar, dias_desde_descanso, ganancia_por_dia, energia_por_dia) 
                        + mejor_ganancia_recursivo_con_memoria(ganancia_por_dia, energia_por_dia, dia_a_analizar + 1, dias_desde_descanso + 1, M))
    ganancia_descansando_hoy = mejor_ganancia_recursivo_con_memoria(ganancia_por_dia, energia_por_dia, dia_a_analizar + 1, 0, M)            
            


            
    
    if dia_a_analizar == len(ganancia_por_dia):
        return 0
    
    ganancia_guardada = M[dia_a_analizar][dias_desde_descanso]

    if ganancia_guardada != None:
        return ganancia_guardada

    ganancia_entrenando_hoy = (_ganancia_del_dia(dia_a_analizar, dias_desde_descanso, ganancia_por_dia, energia_por_dia) 
                        + mejor_ganancia_recursivo_con_memoria(ganancia_por_dia, energia_por_dia, dia_a_analizar + 1, dias_desde_descanso + 1, M))
    ganancia_descansando_hoy = mejor_ganancia_recursivo_con_memoria(ganancia_por_dia, energia_por_dia, dia_a_analizar + 1, 0, M)

    ganancia_guardada = max(ganancia_entrenando_hoy, ganancia_descansando_hoy)

    M[dia_a_analizar][dias_desde_descanso] = ganancia_guardada
    
    return ganancia_guardada

resultado = max_ganancia(*datos)
print(pd.DataFrame(resultado))
print(pd.DataFrame(M))

203
    0   1   2   3   4   5   6   7   8   9   ...   54   55   56   57   58   59  \
0    0   0   0   0   0   0   0   0   0   0  ...    0    0    0    0    0    0
1    0   0   0   0   0   0   0   0   0   0  ...    0    0    0    0    0    0
2    0   0   0   0   0   0   0   0   0   0  ...    0    0    0    0    0    0
3    0   0   0   0   0   0   0   0   0   0  ...   78   78   78   78   78   78
4    0   0   0   0   0   0   0   0   0   0  ...   78   78   78   78   78   78
5    0   0   0   0   0   0   0   0   0   0  ...   78   78   78   78   78   78
6    0   0   0   0   0   0   0   0   0   0  ...   78   78   78   78   78   78
7    0   0   0   0   0   0   0   0   0   0  ...   78   78   78   78   78   78
8    0   0   0   0   0   0   0   0   0   0  ...  129  140  140  140  140  140
9    0   0   0   0   0   0   0   0   0   0  ...  162  162  162  162  162  162
10   0   0   0   0   0   0   0   0   0   0  ...  170  170  170  170  170  170

     60   61   62   63
0     0    0    0    0
1     0    0    0   36
2     0    2    2   36
3    78   78   78   78
4    78   78   78   78
5    78   78   78   78
6    78   78   78   78
7    78  141  141  141
8   140  141  141  141
9   162  162  162  162
10  170  170  170  203

[11 rows x 64 columns]
     0      1      2      3      4      5      6     7     8     9
0  380    NaN    NaN    NaN    NaN    NaN    NaN   NaN   NaN   NaN
1  344  344.0    NaN    NaN    NaN    NaN    NaN   NaN   NaN   NaN
2  344  342.0  330.0    NaN    NaN    NaN    NaN   NaN   NaN   NaN
3  281  281.0  281.0  281.0    NaN    NaN    NaN   NaN   NaN   NaN
4  281  257.0  247.0  246.0  246.0    NaN    NaN   NaN   NaN   NaN
5  246  222.0  198.0  198.0  198.0  198.0    NaN   NaN   NaN   NaN
6  198  183.0  161.0  137.0  137.0  137.0  137.0   NaN   NaN   NaN
7  137  135.0  122.0  112.0   96.0   79.0   74.0  74.0   NaN   NaN
8   74   74.0   74.0   73.0   71.0   56.0   41.0  41.0  41.0   NaN
9   41   41.0   41.0   41.0   40.0   38.0   23.0  17.0  13.0  10.0